/*
#menubox
{
	clear: left;
	border-top: 2px solid #CE2152;
	height: 1.8em;
	padding-top: .3em;
	border-bottom: 2px solid #CE2152;
}

#menu1
{
	clear: left;
	position: absolute;
	width: 10%;
}
#menu2
{
	position: absolute;
	margin-left: 10%;
	width: 16%;
}
#menu3
{
	position: absolute;
	left: 26%;
	width: 16%;
}
#menu4
{
	position: absolute;
	left: 44%;
	width: 12%;
}
#menu5
{
	position: absolute;
	left: 54%;
	width: 12%;
}
#menu6
{
	position: absolute;
	left: 64%;
	width: 12%;
}
#menu7
{
	position: absolute;
	left: 75%;
	width: 12%;
}

#menu8
{
	position: absolute;
	left: 88%;
	width: 12%;
}

div.sideMenu
{
	background-color: #e0e0e0;
	border: 1px solid #000000;
}

span.segmentHead
{
	height: 1.5em;
	color: #CE2152;
	font-family: arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	padding: 4px 0 2px 0.2em;
	margin-bottom: 5px;
}

div.segment
{
	font-size: 0.8em;
	padding: 2px 1em 2px 0.5em;
}

div.segmentBottom
{
	height: 1.5em;
	background-color: #f0f0f0;
	font-size: 0.8em;
	border: 1px solid #000000;
	padding: 2px 1em 2px 0.5em;
}

div.segmentHead
{
	height: 1.8em;
	color: #CE2152;
	font-family: arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 4px 2px 0.2em;
}
*/
/*  Drop down menus */

#sddm
{	margin: 		0;
	padding: 		0;
}

#sddm li
{	margin: 		0;
	padding: 		0;
	list-style: 	none;
	float: 			left;
	font: 			14px arial
}

/*  The menu bars  */
#sddm li a
{
	display: 		block;
	margin: 		0 1px 0 0;
	padding: 		4px 10px;
	width: 			129px;
    background: 	lightblue;
	color: 			black;
	text-decoration: none
}

#sddm li a:hover
{
	color: 			#ce2152;
}

/* The drop down boxes */
#sddm div
{
	position: 		absolute;
	visibility: 	hidden;
	z-index: 		99;
	margin: 		0;
	padding: 		0;
	min-width:		120px;
	background: 	white;
	border: 		1px solid #5970B2
}

	#sddm div a
	{
		position: 		relative;
		display: 		block;
		margin: 		0;
		padding: 		5px 10px;
		width: 			auto;
		white-space: 	nowrap;
		text-align: 	left;
		text-decoration: none;
		background:		white;
		color: 			black;
		font: 			13px arial
	}
	
	#sddm div a:hover
	{
		background: 	#49A3FF;
		color: 			#FFF
	}
